/* This css is for the Header  */

.site-footer {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    position: inherit !important;
}

.site-footer a {
    border-bottom: none !important;
}

.footer-container {
    padding-top: 60px;
}

.footer-main-content {
    display: flex;
}


/*----------------------------*/


/* This is from pre-defined */

.site-footer {
    color: #fff;
}

.site-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-box.footer-about img {
    margin-bottom: 30px;
}

.site-footer ul li a {
    color: #fff;
}

.site-footer ul li a:hover {
    opacity: 0.8;
}

.footer-box p {
    line-height: 1.8;
}

.footer-box.footer-about ul li a,
.footer-box.footer-about ul li span {
    padding-left: 10px;
}

.footer-box.footer-about ul li {
    margin-bottom: 10px;
}

.footer-box.footer-about ul li:last-child {
    margin-bottom: 0;
}

.footer-box.footer-menu ul li {
    margin-bottom: 10px;
}

.footer-box.footer-menu ul li:last-child {
    margin-bottom: 0;
}

aside.widget-area .widget-title {
    margin-bottom: 10px;
}

h2.widget-title {
    font-size: 20px;
    margin-bottom: 30px;
    border: none !important;
    padding: 0 !important;
    text-transform: uppercase;
}

ul.social-icons li {
    display: inline-block;
}

ul.social-icons li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    color: #2E5DAA;
    border-radius: 50%;
    border: 1px dashed #2E5DAA;
    margin-right: 10px;
}

ul.social-icons li:last-child a {
    margin-right: 0;
}

.container.copyright-section {
    border-top: 1px solid #fff;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.copyright-menu ul li {
    display: inline-block;
}

.copyright-menu ul li:nth-child(n+2) {
    display: inline-block;
    margin-left: 20px;
}


/*----------------------------*/


/* This css is for the Media Queries  */

@media only screen and (max-width: 768px) {
    h2.widget-title {
        margin-top: 30px !important;
        margin-bottom: 5px !important;
    }
    .copyright-menu {
        margin-top: 20px !important;
    }
}

@media only screen and (max-width: 420px) {
    .copyright-menu ul li:last-child {
        margin-top: 10px !important;
        margin-left: 0 !important;
    }
    .container.copyright-section {
        border-top: 1px solid #fff;
        margin-top: 7px !important;
        padding-top: 18px !important;
        padding-bottom: 20px;
    }
}

// Only for Sicon Documentation website

@media (min-width: 1200px) {
    .container-override {
        max-width: 1140px !important;
    }
}

footer {
    font-size: 13px !important;
    a {
        text-decoration: none !important;
        color: white !important;
        font-weight: normal !important;
    }
    i {
        color:#2E5DAA;
    }
    a:hover {
        opacity: 0.8 !important;
        text-decoration: none !important;
    }
}


/*----------------------------*/